
{% block title %}Log in{% endblock %}

{% block additional_head %}

  <style type="text/css">
    body > .grid {
      height: 100%;
    }
  </style>
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
 
  
  <div class="row">
    <h2 class="ui teal image header" style="font-size: 3em;">
     
    </h2>
  </div>
  <div class="row">
      <h2 class="ui teal image header" style="font-size: 3em;">
      <div class="content">
        We care you
      </div>
    </h2>
    
  </div>
  <form class="ui big form" method="POST">
    {{ form.csrf_token }}
      <div class="field">
        {{ form.username.label }}
        <div class ="row">
          <div class="three wide column">
            {{ form.username }}
          </div> 
        </div> 
        {% if error %}
        <div class="ui pointing red basic label">{{error}}</div>
        {% endif %}
      </div>
          
      <div class="field">
        {{ form.password.label }}
        {{ form.password }}
        {% if pass_error %}
          <div class="ui pointing red basic label">{{pass_error}}</div>
        {% endif %}
      </div>
    
    <div class="field">
    <button type="submit">เข้าสู่ระบบ</button>
    </div>
  
    <div class="ui error message"></div>
  </form>  
</div>

</br></br>
<div class="ui middle aligned center aligned grid">

<div class="sixteen column row">

      <a>ลงทะเบียน</a>  
      <div class="column"></div>
      <a >ลืมรหัส</a>  
    </div></div>
{% endblock %}

