{% extends '/base/default-dashboard.html' %}

{% block content %}
<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class="ui header segment">
        <h3>Hello {{ current_user.first_name }} {{ current_user.last_name }}</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      {% if not personal and personal.status != 'completed' %}
        <a class="ui primary button" href="{{ url_for('personal_info.create') }}"><i class="edit icon"></i>กรอกประวัติ</a>

      {% else %}
        <a class="ui primary button" href="{{ url_for('personal_info.patient_form',personal_id=personal.id) }}"><i class="edit icon"></i>แก้ไขประวัติ</a>
        <a class="ui primary button" href="{{ url_for('assessments.create') }}"><i class="edit icon"></i>ประเมินสภาพผู้ป่วย</a>
      {% endif %}

    
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h3 class="ui header">การประเมินก่อนหน้า</h3>
      {% if assessments | count > 0%}
      <table class="ui celled table">
        <thead>
          <tr>
            <th>ประเมินเมื่อ</th>
            <th>ผล</th>
          </tr>
        </thead>
        <tbody>
          {% for assessment in assessments -%}
            {% set ass_result = assessment.get_assessment_result() %}
            {% if ass_result == 'normal' %}
              <tr class="ui inverted green table">
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M') }}</td>
                <td data-label="Result">
                    <i class="green bed icon"></i>
                    <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                </td>
              </tr>
            {% elif ass_result == 'warning' %}
              <tr class="ui inverted yellow table">
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M')  }}</td>
                <td data-label="Result">
                    <i class="yellow user plus icon"></i>
                    <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                </td>
              </tr>
            {% elif ass_result == 'danger' %}
              <tr class="ui inverted red table">
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M')  }}</td>
                <td data-label="Result">
                    <i class="red user md icon"></i>
                    <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                </td>
              </tr>
            {% else %}
              <tr>
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M')  }}</td>
                <td data-label="Result">
                    <i class="question icon"></i>
                    <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                </td>
              </tr>
            {% endif %}
          {%- endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="ui info message">
        <div class="header">
          ยังไม่มีประวัติการประเมิน
        </div>
      </div>
    {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="column">
      <h3 class="ui header">ผลการประเมินแยกรายบุคคล</h3>
      {% if all_assessments | count > 0 %}
      <table class="ui celled table">
        <thead>
          <tr>
            <th>ประเมินเมื่อ</th>
            <th>โดย</th>
            <th>ผล</th>
          </tr>
        </thead>
        <tbody>
          {% for assessment in all_assessments -%}
            {% set ass_result = assessment.get_assessment_result() %}
            {% if ass_result == 'normal' %}
              <tr class="ui inverted green table">
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M')  }}</td>
                <td data-label="User">{{ assessment.user.first_name }} {{ assessment.user.last_name }}</td>
                <td data-label="Result" style="width: 190px">
                <i class="green bed icon"></i>
                <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                <a class="ui secondary button basic" href="{{url_for('assessments.user_assessments',user_id=assessment.user.id)}}" >see all</a>
                </td>
              </tr>

            {% elif ass_result == 'warning' %}
              <tr class="ui inverted yellow table">
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M')  }}</td>
                <td data-label="User">{{ assessment.user.first_name }} {{ assessment.user.last_name }}</td>
                <td data-label="Result" style="width: 190px">
                <i class="yellow user plus icon"></i>
                <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                <a class="ui secondary button basic" href="{{url_for('assessments.user_assessments',user_id=assessment.user.id)}}" >see all</a>
                </td>
              </tr>

            {% elif ass_result == 'danger' %}
              <tr class="ui inverted red table">
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M')  }}</td>
                <td data-label="User">{{ assessment.user.first_name }} {{ assessment.user.last_name }}</td>
                <td data-label="Result" style="width: 190px">
                <i class="red user md icon"></i>
                <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                <a class="ui secondary button basic" href="{{url_for('assessments.user_assessments',user_id=assessment.user.id)}}" >see all</a>
                </td>
              </tr>

            {% else %}
              <tr >
                <td data-label="Date">{{ assessment.created_date.strftime('%d/%m/%Y %H:%M')  }}</td>
                <td data-label="User">{{ assessment.user.first_name }} {{ assessment.user.last_name }}</td>
                <td data-label="Result" style="width: 190px">
                <i class="question icon"></i>
                <a class="ui circular primary icon button" href="{{ url_for('assessments.assessment_view', assessment_id=assessment.id, category='watchfulness') }}"><i class="eye icon"></i></a>
                <a class="ui secondary button basic" href="{{url_for('assessments.user_assessments',user_id=assessment.user.id)}}" >see all</a>
                </td>
              </tr>
            {% endif %}
          {%- endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="ui info message">
        <div class="header">
          ยังไม่มีประวัติการประเมิน
        </div>
      </div>
    {% endif %}
    </div>
  </div>
  
  <div class="row">
      <div class="column">
        <h3 class="ui header">ประวัติส่วนบุคคล</h3>
        {% if all_personal | count > 0 %}
        <table class="ui celled table">
          <thead>
            <tr>
              <th>กรอกเมื่อ</th>
              <th>โดย</th>
              <th>สถานะ</th>
              <th>ผล</th>
            </tr>
          </thead>
          <tbody>
            {% for personal in all_personal -%}
            <tr>
              {% if(personal.relative.updated_date) %}
                <td data-label="Date">{{ personal.relative.updated_date.strftime('%d/%m/%Y %H:%M') }}</td>
              {% else %}
                <td>ยังไม่ได้ประเมิน</td>
              {% endif %}
              <td data-label="User">{{ personal.user.first_name }} {{ personal.user.last_name }}</td>
              <td data-label="Role">
              
              {% for roles in personal.user.roles %}   
                {%if roles == 'admin'%}  admin 
                  <a href="{{url_for('dashboard.remove_admin',user_id=personal.user.id)}}">remove admin</a>
                {%elif roles == 'user'%}  user 
                {%endif%}
                
              {%endfor%}    
                
              {%if not 'admin' in personal.user.roles%}
               <a href="{{url_for('dashboard.add_admin',user_id=personal.user.id)}}">add admin</a>
              {%endif%}    
                </td>
              <td data-label="Result">
                  <a class="ui circular primary icon button" href="{{ url_for('personal_info.personal_view',personal_id=personal.id, category='patient') }}"><i class="eye icon"></i></a>
          
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="ui info message">
          <div class="header">
            ยังไม่มีประวัติ
          </div>
        </div>
      {% endif %}
      </div>
    </div>

</div>
{% endblock %}
